<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>購物金管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0" font-style="bold">購物金管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
				
				<!-- ==============後台人員登入登出用 =============-->
				<body th:insert="~{/comLogin}"></body>

                <!-- ==============寫入你的mainPage名稱 =============-->
                <li class="breadcrumb-item"><a th:href="@{../memberCoin/mainPageMemberCoin}">購物金管理</a></li>
                <li class="breadcrumb-item active">查詢資料</li>
                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
		<div class="row">
		<!-- left column -->
		<div class="col-md-12">
		<!-- general form elements -->
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">查詢資料</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form th:action="@{listMemberCoins_ByCompositeQuery}" method="post">
				<div class="card-body">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
						<label>購物金紀錄編號:</label>
						<input type="text" name="memCoinId" value="" placeholder="請輸入紀錄編號" class="form-control"/>
						</div>
						
						<div class="form-group">
						<label>會員編號:</label>
						<input type="text" th:field="*{member.memberId}" value="" placeholder="請輸入會員編號" class="form-control"/>
						</div>
						
						<div class="form-group">
						<label>會員姓名:</label>
	        			<input type="text" th:field="*{member.name}" value="" placeholder="請輸入會員姓名" class="form-control"/>
						</div>
						
						<div class="form-group">
						<label>訂單編號:</label>
				        <input type="text" th:field="*{orderListVO.orderListId}" placeholder="請輸入訂單編號，例如20001" class="form-control"/>
				        </div>
				        
				        <div class="form-group">   
				        <label>購物金類型(摘要):</label> 
				        <select name="summary" class="form-control custom-select">
				        	<option value="">請選擇購物金類型</option>
				        	<option value="訂單回饋">訂單回饋</option>
				        	<option value="生日禮金">生日禮金</option>
				        	<option value="折抵消費">折抵消費</option>
				        	<option value="購物金到期">購物金到期</option>
				        </select>
			        	</div>
					</div>
					<div class="col-6">
				        <div class="form-group">
				        <label>最低購物金金額:</label>
				        <input type="number" step="1" name="amountMin" value="" placeholder="請輸入金額" class="form-control">
				        </div>
				        
				        <div class="form-group">
				        <label>最高購物金金額:</label>
				        <input type="number" step="1" name="amountMax" value="" placeholder="請輸入金額" class="form-control">
				        </div>
				        
				        <div class="form-group">
				        <label>異動類型:</label>
				        <select name="type" class="form-control custom-select">
				        	<option value="">請選擇異動類型</option>
							<option value="1">獲得</option>
							<option value="-1">減少</option>
						</select>
						</div>
						
						<div class="form-group">
						<label>取得日期:</label>
					    <input type="date" name="getDt" class="form-control"><br>
					    </div>
					    
					    <div class="form-group">
					    <label>到期日:</label>
					    <input type="date" name="expiryDt" class="form-control"><br>
						</div>
					</div>
				</div>

					<div class="form-group">
					<button type="reset" class="btn btn-secondary">清　除</button>
					<button type="submit" class="btn btn-primary">查　詢</button>
					<a href="addMemberCoin"><button type="button" class="btn btn-success">新　增</button></a>
					</div>
				</div>
				<!-- /.card-body -->

			</form>
		</div>
		<!-- /.card -->
	</div>
	


	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	<script type="text/javascript">
	//清除提示信息
	function hideContent(d) {
	     document.getElementById(d).style.display = "none";
	}
	</script>

	</body>
</html>