<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>活動資料修改 - update.html</title>

<head th:insert="~{/memberCoin/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>活動資料修改 - update.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/memberCoin/mainPageMemberCoin}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${memberCoinVO}" enctype="multipart/form-data">
			
			<div>
			<label>購物金紀錄編號:</label>
			<input type="text" th:field="*{memCoinId}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>
			
			<div>
			<label>會員編號:</label>
			<input type="text" readonly th:field="*{member.memberId}" onclick="hideContent('member.memberId.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('member.memberId')}" th:errors="*{member.memberId}" class="error" id="member.memberId.errors"></span>
			</div>
			
			<div>
			<label>訂單編號:</label>
			<input type="text" readonly th:field="*{orderListVO.orderListId}" onclick="hideContent('orderListVO.orderListId.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('orderListVO.orderListId')}" th:errors="*{orderListVO.orderListId}" class="error" id="orderListVO.orderListId.errors"></span>
			</div>
			
			<div>
			<label>購物金取得日期:</label>
			<input type="date" th:field="*{getDt}" onclick="hideContent('getDt.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('getDt')}" th:errors="*{getDt}" class="error" id="getDt.errors"></span>
			</div>
			
			<div>
			<label>購物金類型(摘要):</label>
				<select th:field="*{summary}" onclick="hideContent('summary.errors');" >
					<option value="">-</option>
		        	<option value="訂單回饋">訂單回饋</option>
		        	<option value="生日禮金">生日禮金</option>
		        	<option value="折抵消費">折抵消費</option>
		        	<option value="購物金到期">購物金到期</option>
				</select>
			<span  th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="error" id="summary.errors"></span>
			</div>
			
			<div>
			<label>異動類型:</label>
				<select th:field="*{type}" onclick="hideContent('type.errors');" >
					<option value="">-</option>
					<option value="1">獲得</option>
					<option value="-1">減少</option>
				</select>
			<span  th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error" id="type.errors"></span>
			</div>
			
			<div>
			<label>購物金金額:</label>
			<input type="number" step="10" th:field="*{amount}" onclick="hideContent('amount.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error" id="amount.errors"></span>
			</div>
			
			<div>
			<label>購物金到期日期:</label>
			<input type="date" th:field="*{expiryDt}" onclick="hideContent('expiryDt.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('expiryDt')}" th:errors="*{expiryDt}" class="error" id="expiryDt.errors"></span>
			</div>
			
			<div>
			<input type="hidden" th:field="*{createdBy}" />
			</div>
			
			<div>
			<label>最後更新者:</label>
			<input type="text" th:field="*{lastUpdatedBy}" onclick="hideContent('lastUpdatedBy.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('lastUpdatedBy')}" th:errors="*{lastUpdatedBy}" class="error" id="lastUpdatedBy.errors"></span>
			</div>
			
			<div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

</script>

</body>
</html>