<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>優惠券更新</title>

    <!-- header-css etc. -->
    <th:block th:insert="~{/comPage1}"></th:block>
    <link rel="stylesheet" th:href="@{/css/error.css}">

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js'></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<!-- sidebar -->
<th:block th:insert="~{/comPage2}"></th:block>

<!-- Content Wrapper. Contains page content -->
<!-- 儀錶板上面那排 -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <header class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" font-style="bold">優惠券管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>

                        <!-- ==============後台人員登入登出用 =============-->
                        <th:block th:insert="~{/comLogin}"></th:block>

                        <!-- ==============寫入你的mainPage名稱 =============-->
                        <li class="breadcrumb-item active">優惠券管理</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </header>
    <!-- /.content-header -->

    <!-- 功能內容開始 -->
    <main class="content">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">編輯優惠券</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <a th:href="@{/admin/coupon}"><span aria-hidden="true">×</span></a>
                </button>
            </div>
            <div class="modal-body">
                <form class="form was-validated py-1" id="editCouponForm" th:method="put"
                      th:action="@{'/coupon/{id}'(id=${couponToUpdate.couponId})}">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="startDt">開始</label>
                                        <input class="form-control" type="date" placeholder="yyyy-mm-dd"
                                               id="startDt" name="startDt" th:value="${couponToUpdate.startDt}" required>  <!-- th:value="${couponList[id].startDt}"-->
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="endDt">結束</label>
                                        <input class="form-control" type="date" placeholder="yyyy-mm-dd"
                                               id="endDt" name="endDt" th:value="${couponToUpdate.endDt}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="couponName">名稱</label>
                                        <input class="form-control" type="text" placeholder="XX節全館XX折"
                                               id="couponName" name="couponName" th:value="${couponToUpdate.couponName}" required>
                                        <div class="invalid-feedback">必填</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="couponCode">優惠代碼</label>
                                        <input class="form-control" type="text" placeholder="XXXX00"
                                               id="couponCode" name="couponCode" th:value="${couponToUpdate.couponCode}" required>
                                        <div class="invalid-feedback">必填</div>
                                    </div>
                                </div>
                            </div>

                            <form>
                                <!--  打折和現金抵用二擇一, 用下方js判斷 -->
                                <div class="row">
                                    <!--  售價折扣與折數 -->
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="discountOption" id="discountCheck" required>
                                            <label class="form-check-label" for="discountCheck">
                                                售價折扣
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="text"
                                                   id="discPercentage" name="discPercentage" placeholder="輸入折數" th:value="${couponToUpdate.discPercentage}" required disabled>
                                            <div class="invalid-feedback">必填</div>
                                        </div>
                                    </div>

                                    <!-- 現金抵用與抵用金 -->
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="discountOption" id="cashDiscountCheck" required>
                                            <label class="form-check-label" for="cashDiscountCheck">
                                                現金抵用 <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="text" placeholder="輸入抵用金"
                                                   id="discAmount" name="discAmount"  th:value="${couponToUpdate.discAmount}" required disabled>
                                            <div class="invalid-feedback">必填</div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="couponStatusOption" id="couponStatusOn" value="active" required>
                                        <label class="form-check-label" for="couponStatusOn">啟用</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="couponStatusOption" id="couponStatusOff" value="disabled" required>
                                        <label class="form-check-label" for="couponStatusOff">停用</label>
                                    </div>
                                </div>
                            </div>

                            <!-- ====== 隱藏欄位 ========-->
                            <div>
                                <label><input id=" couponId" name="couponId" th:value="${couponToUpdate.couponId}" type="hidden"></label>
                                <label><input id="couponStatus" name="couponStatus" th:value="${couponToUpdate.couponStatus}" type="hidden"></label>
                                <label><input id="createdBy" name="createdBy" th:value="${couponToUpdate.createdBy}" type="hidden"></label>
                                <label><input id="dateCreated" name="dateCreated" th:value="${couponToUpdate.dateCreated}" type="hidden"></label>
<!--      ===================== TODO discType 跟 lastUpdatedBy 目前都是寫死，未來可以修 =================== -->
                                <label><input id="discType" name="discType" th:value="${couponToUpdate.discType}" type="hidden"></label>
                                <label><input id="lastUpdatedBy" name="lastUpdatedBy" th:value="${couponToUpdate.lastUpdatedBy}" type="hidden"></label>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit" form="editCouponForm">儲存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- ======= 打折和現金抵用二選一的邏輯==================-->
        <script>
            const discPercentageInput = document.getElementById('discPercentage');
            const discAmountInput = document.getElementById('discAmount');
            let couponStatus = document.getElementById('couponStatus');
            console.log(document.getElementById('couponStatus'))


            discountInitial();
            couponStatusInitial();

            // 啟用選項對應的輸入框
            document.querySelectorAll('input[name="discountOption"]').forEach(function (radio) {
                radio.addEventListener('change', discountHandler);
            });
            document.querySelectorAll('input[name="couponStatusOption"]').forEach(function (radio) {
                radio.addEventListener('change', couponStatusHandler);
            });

            function discountInitial(){
                const discountOptionInputs = document.getElementsByName('discountOption');
                // options = [discountCheckInput, cashDiscountCheckInput]

                if(discPercentageInput.value) {
                    discountOptionInputs[0].checked = true;
                    discPercentageInput.disabled = false;
                    discAmountInput.disabled = true;
                }
                else if(discAmountInput.value) {
                    discountOptionInputs[1].checked = true;
                    discAmountInput.disabled = false;
                    discPercentageInput.disabled = true;
                }
            }
            function discountHandler() {
                if (this.id === 'discountCheck') {
                    discPercentageInput.disabled = false;
                    discAmountInput.disabled = true;
                    discAmountInput.value = ''; // 清除另一個選項的值
                } else if (this.id === 'cashDiscountCheck') {
                    discAmountInput.disabled = false;
                    discPercentageInput.disabled = true;
                    discPercentageInput.value = ''; // 清除另一個選項的值
                }
            }

            function couponStatusInitial(){
                const onInput = document.getElementById('couponStatusOn');
                const offInput = document.getElementById('couponStatusOff');
                if(couponStatus.value === "0") offInput.checked = true;
                else if(couponStatus.value === "1") onInput.checked = true;
            }
            function couponStatusHandler(){
                if(this.id ==='couponStatusOn'){
                    couponStatus.value = 1;
                    console.log(this)
                } else if(this.id === 'couponStatusOff'){
                    couponStatus.value = 0;
                    console.log(this)
                }
            }
        </script>


    </main>
    <!-- 功能內容結束 -->

    <!-- footer and script link -->
    <th:block th:insert="~{/comPage3}"></th:block>

    <script type="text/javascript">
        //清除提示信息
        function hideContent(d) {
            document.getElementById(d).style.display = "none";
        }
    </script>
</div>
</body>
</html>