<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>常見問題</title>
    <!-- 共同引入 headTag-import meta tag-->
    <meta th:replace="~{frontendapp/components/common :: headtag-import}">
</head>
<body>
<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<!-- 共用元件(index除外) bread crumb -->
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'常見問題'})}"></div>

<main>
    <!-- 把你的內容貼在這裡-->
    <div id="accordion-main">
        <div class="container">
            <div class="accordion-example w-100 float-left">
                <div class="tt-innertitle w-100 float-left text-capitalize">accordion example 2 (with icon)</div>
                <div id="accordion1" class=" w-100 float-left">
                    <div class="card">
                        <div class="card-header" id="headingOne1">
                            <h5 class="mb-0">
                                <button class="btn btn-link float-left w-100 text-left" data-toggle="collapse"
                                        data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                                    退貨相關問題
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1"
                             data-parent="#accordion1">
                            <div class="card-body">
                                由於食品類不適用於七天鑑賞期，若非運送過程造成商品嚴重瑕疵、食品變質或包裝不完整等問題，恕無法退換貨，敬請見諒與配合。
                                <br>
                                <br>
                                為避免消費爭議，開箱時請務必錄影存證，若有數量及品項錯誤問題，請於當天通知客服人員，或來電(02)1234-5678
                                (週一~週五 09:00~18:00不含例假日、國定假日、補班日)。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed float-left w-100 text-left" data-toggle="collapse"
                                        data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                                    冷凍麵包加熱方式
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
                            <div class="card-body">
                                <img src="/images/askme_pic/askme.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed float-left w-100 text-left" data-toggle="collapse"
                                        data-target="#collapseThree1" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    訂單相關問題
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1"
                             data-parent="#accordion1">
                            <div class="card-body">
                                1、如何知道訂單是否成立？
                                <br>
                                送出訂單後，系統會寄出訂購成立通知(包含訂單網址)至手機簡訊及Email，或是聯絡客服協助您查詢訂單。
                                <br><br>
                                2、如何查詢目前訂單狀態？
                                <br>
                                登入會員後，在會員專區>訂單，可查看訂單最新狀態與歷史訂單紀錄。
                                <br><br>
                                3、修改訂單收件資訊
                                <br>
                                如需更改收件資訊，請提供訂單編號或訂購人手機號碼，聯絡客服協助處理。
                                <br><br>
                                4、出貨
                                <br>
                                出貨時間以公告為主，僅以Email通知出貨，請留意您的信箱訊息，目前沒有提供簡訊或電話通知，敬請見諒，謝謝。
                                <br><br>
                                5、取消訂單
                                <br>
                                請提供訂單編號或收件人手機號碼，聯絡客服協助處理。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 把你的內容貼在這裡-->
</main>

<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>
</body>

</html>