<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>聯絡我們</title>
	<!-- 共同引入 headTag-import meta tag-->
	<meta th:replace="~{frontendapp/components/common :: headtag-import}">
</head>
<body>
<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<!-- 共用元件(index除外) bread crumb -->
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'聯絡我們'})}"></div>

<main>
	<!-- 把你的內容貼在這裡-->
	<div class="main-content w-100 float-left">
		<div class="container">
			<div class="row">
				<div class="contact-form-area col-sm-7">
					<div class="contact-form-inner">
						<h4 class="text-capitalize">tell us your project</h4>
						<form id="contact-form" method="post">
							<div class="row">
								<div class="col-md-12">
									<label for="name" class="float-left">First Name<span
											class="required">*</span></label>
									<input type="text" name="name" id="name" class="float-right" required>
								</div>
								<div class="col-md-12">
									<label for="last_name" class="float-left">Last Name<span
											class="required">*</span></label>
									<input type="text" name="last_name" id="last_name" class="float-right" required>
								</div>
								<div class="col-md-12">
									<label for="email" class="float-left">Email<span class="required">*</span></label>
									<input type="text" name="email" id="email" class="float-right" required>
								</div>
								<div class="col-md-12">
									<label for="subject" class="float-left">Subject<span
											class="required">*</span></label>
									<input type="text" name="subject" id="subject" class="float-right" required>
								</div>
								<div class="col-md-12">
									<label for="message" class="float-left">Message</label>
									<textarea name="message" id="message" class="float-right"></textarea>
								</div>
							</div>
							<input type="submit" class="submit-btn default-btn btn-primary btn" value="Send Email">
							<p class="form-messege"></p>
						</form>
					</div>
				</div>
				<div class="contact-address col-sm-5">
					<div class="contact-inner float-left w-100">
						<div class="contact-information">
							<h4 class="text-capitalize">聯絡我們</h4>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu vehicula turpis.
								Donec semper, nunc a imperdiet sollicitudin, lacus arcu semper nibh, non fermentum risus
								est quis augue.</p>
							<div class="contact-wrapper">
								<div class="contact-list">
									<i class="material-icons">place</i>
									<span>Address : 4030, Central Bazzar, opp. Varachha Police Station, Varachha Main
										Road, Surat, Gujarat 395006, India</span>
								</div>
								<div class="contact-list">
									<i class="material-icons">call</i>
									<span>demo@store.com</span>
								</div>
								<div class="contact-list">
									<i class="material-icons">email</i>
									<span>0(1234) 567 890</span>
								</div>
							</div>
						</div>
						<div class="working-time">
							<h5>Working hours</h5>
							<div>
								<div>Monday – Saturday</div>
								<div>09AM – 07PM</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- 把你的內容貼在這裡-->
</main>

<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 選用元件 app-modals互動視窗 -->
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>
</body>
