<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>首頁</title>
	<!-- 共同引入 headTag-import meta tag-->
	<meta th:replace="~{frontendapp/components/common :: headtag-import}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body class="index layout1">
<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>

<main>

	<!-- 首頁banner輪播 -->
	<div class="slider-wrapper my-40 my-sm-25 float-left w-100">
		<div class="container">
			<div class="slider slider-for owl-carousel" data-autoplay="true" data-autoplay-timeout="5000">
<!-- 				讀取newsVO資料庫 -->
				<th:block th:each="newsVO : ${newsListData}">
				 <div th:if="${newsVO.status == 1}">
				<div>
					<a href="#" data-toggle="modal" th:data-target="'#newsModal' + ${newsVO.newsId}"
						th:data-img="@{'/news/DBGifReader?newsId=' + ${newsVO.newsId}}"
						th:data-title="${newsVO.newsTitle}"
						th:data-content="${newsVO.newsContent}">
						<img th:src="@{'/news/DBGifReader?newsId=' + ${newsVO.newsId}}" style="width: 100%; height: 500px; object-fit: cover; vertical-align: middle;" />
					</a>
				</div>
				<div class="slider-content-wrap center effect_top">
					<div class="slider-title mb-20 text-capitalize float-left w-100">Desserter</div>
					<div class="slider-subtitle mb-50 text-capitalize float-left w-100" th:text="${newsVO.newsTitle}"></div>
				</div>
				</div>
				</th:block></div></div></div>
				<!--公告燈箱 -->
					<th:block th:each="newsVO : ${newsListData}">
						<div th:if="${newsVO.status == 1}" class="modal fade" th:id="'newsModal' + ${newsVO.newsId}" tabindex="-1" role="dialog" aria-labelledby="'newsModalLabel' + ${newsVO.newsId}" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content" style="width: 100%;">
									<div class="modal-header">
										<h5 class="modal-title" th:text="${newsVO.newsTitle}" style="font-weight: bold; font-size: 30px; text-align: center;"></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img th:src="@{'/news/DBGifReader?newsId=' + ${newsVO.newsId}}" style="width: 100%;"/>
										<p th:text="${newsVO.newsContent}" style="font-size: 18px; line-height: 1.6; text-align: justify;"></p>
									</div>
								</div>
							</div>
						</div>
					</th:block>

<!-- ============================================== -->
	<!--二欄式商品分類-->
	<div class="main-content">
		<div id="ttcmsbanner" class="ttcmsbanner my-40 my-sm-25">
			<div class="ttbannerblock container text-center">
			
				<div class="row">
					<div class="ttbanner1 ttbanner col-sm-6 col-xs-6 left-to-right hb-animate-element">
						<div class="ttbanner-img">
						<a href="#">
						<img th:src="@{/productInfo/ProductInfoReader} + '?productId=1001' " class="card-img-top"  alt="cms-01"
                                                                   height="600" width="630"></a></div>
                        <div class="ttbanner-inner d-inline-block align-top float-none">
                            <div class="ttbanner-desc float-left w-100">
                            <th:block th:each="productTypeVO : ${typeListData}">
                                <h2 class="ttbanner-heading text-uppercase float-left w-100" th:if="${productTypeVO.productTypeId == 1}"
											th:text="${productTypeVO.typeName}"></h2>
                            </th:block>                                
                                <span class="subtitle float-left w-100 py-20">以天然食材精心製作，每一口都帶來滿滿的幸福滋味。無添加防腐劑，保留原始風味，細膩口感讓人回味無窮。無論是茶點還是小聚，都是不容錯過的美味選擇。</span>
                                <span class="shop-now float-left w-100">
                                <th:block th:each="productInfo, iterStat : ${productInfoListData}">
							        <th:block th:if="${productInfo.productTypeVO.productTypeId == 1 && iterStat.index == 11}">
							            <form th:action="@{listProductInfosByCompositeQuery}" method="post" class="d-inline-block">
							                <input type="hidden" name="productTypeId" th:value="${productInfo.productTypeVO.productTypeId}">
							                <button type="submit" class="align-top float-none btn-primary">開始購物</button>
							            </form>
							        </th:block>
							    </th:block>

                                </span>                                
                            </div>
                        </div>
                    </div>
                    <div class="ttbanner2 ttbanner col-sm-6 col-xs-6 right-to-left hb-animate-element">
                        <div class="ttbanner-img">
                        <a href="#">
                        <img th:src="@{/productInfo/ProductInfoReader} + '?productId=1002' " class="card-img-top"  alt="cms-01"
                                                                   height="600" width="630"></a></div>
                        <div class="ttbanner-inner d-inline-block align-top float-none">
                            <div class="ttbanner-desc">
                                 <th:block th:each="productTypeVO : ${typeListData}">
                                <h2 class="ttbanner-heading text-uppercase float-left w-100" th:if="${productTypeVO.productTypeId == 2}" 
											th:text="${productTypeVO.typeName}"></h2>
                            </th:block>                               
                                <span class="subtitle float-left w-100 py-20">選用優質食材，細心製作而成，口感綿密、風味獨特。每一款點心皆無添加人工色素與防腐劑，保留食材原味，健康又美味。無論搭配茶飲或作為下午茶，都能帶來愉悅的享受。</span>
                                <span class="shop-now float-left w-100">
                                <th:block th:each="productInfo, iterStat : ${productInfoListData}">
							        <th:block th:if="${productInfo.productTypeVO.productTypeId == 2 && iterStat.index == 2}">
							            <form th:action="@{listProductInfosByCompositeQuery}" method="post" class="d-inline-block">
							                <input type="hidden" name="productTypeId" th:value="${productInfo.productTypeVO.productTypeId}">
							                <button type="submit" class="align-top float-none btn-primary">開始購物</button>
							            </form>
							        </th:block>
							    </th:block>
                                </span>                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div id="main">
 		
<!-- 最下面放三個最新商品(連到商品詳細頁面) -->
			<div id="ttsmartblog" class="my-40 my-sm-25 bottom-to-top hb-animate-element">
				<div class="tt-title d-inline-block float-none w-100 text-center text-capitalize">最新商品</div>
				<div class="container">
					<div class="row">
						<div class="smartblog-content owl-carousel">
						
						
						<th:block th:each="productInfo : ${productInfoListData}">
							<div class="ttblog" th:if="${productInfo.productId == 1001}">
								<div class="item">
									<div class="ttblog_image_holder">
										<a th:href="@{/product/{productId}(productId=${productInfo.productId})}">
											<img th:src="@{/productInfo/ProductInfoReader} + '?productId=' + ${productInfo.productId}" alt="blog-01" width="415"
												 height="269"> </a>
										<span class="blogicons">
												<a title="Click to view Full Image" th:href="@{/product/{productId}(productId=${productInfo.productId})}" 
												   data-lightbox="example-set" class="icon zoom"><i
														class="material-icons">search</i></a> </span>
									</div>
									<div class="blog-content-wrap float-left w-100">
										<div class="blog_inner">
											<h4 class="blog-title"><span th:text="${productInfo.proName}" style="color: #000000; font-weight: bold;"></span></h4>
											<br>
											<div class="blog-desc product-desc" th:text="${productInfo.proDesc}" style="display: none;"></div>
											<div id="first-sentence"></div>
											
											<div class="read-more text-capitalize">
												<a title="Click to view Read More" class="readmore" style="color:#808080; font-size: 0.8rem;">點我看更多</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
							
							
							<th:block th:each="productInfo : ${productInfoListData}">
							<div class="ttblog" th:if="${productInfo.productId == 1002}">
								<div class="item">
									<div class="ttblog_image_holder">
										<a th:href="@{/product/{productId}(productId=${productInfo.productId})}">
											<img th:src="@{/productInfo/ProductInfoReader} + '?productId=' + ${productInfo.productId}" alt="blog-01" width="415"
												 height="269"> </a>
										<span class="blogicons">
												<a title="Click to view Full Image" th:href="@{/product/{productId}(productId=${productInfo.productId})}" 
												   data-lightbox="example-set" class="icon zoom"><i
														class="material-icons">search</i></a> </span>
									</div>
									<div class="blog-content-wrap float-left w-100">
										<div class="blog_inner">
											<h4 class="blog-title"><span th:text="${productInfo.proName}" style="color: #000000; font-weight: bold;"></span></h4>
											<br>
											<div class="product-desc blog-desc" th:text="${productInfo.proDesc}" style="display: none;"></div>
											<div id="first-sentence"></div>
											
											<div class="read-more text-capitalize">
												<a title="Click to view Read More" class="readmore" style="color:#808080; font-size: 0.8rem;">點我看更多</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
							<th:block th:each="productInfo : ${productInfoListData}">
							<div class="ttblog" th:if="${productInfo.productId == 1003}">
								<div class="item">
									<div class="ttblog_image_holder">
										<a th:href="@{/product/{productId}(productId=${productInfo.productId})}">
											<img th:src="@{/productInfo/ProductInfoReader} + '?productId=' + ${productInfo.productId}" alt="blog-01" width="415"
												 height="269"> </a>
										<span class="blogicons">
												<a title="Click to view Full Image" th:href="@{/product/{productId}(productId=${productInfo.productId})}" 
												   data-lightbox="example-set" class="icon zoom"><i
														class="material-icons">search</i></a> </span>
									</div>
									<div class="blog-content-wrap float-left w-100">
										<div class="blog_inner">
											<h4 class="blog-title"><span th:text="${productInfo.proName}" style="color: #000000; font-weight: bold;"></span></h4>
											<br>
											<div class="product-desc blog-desc" th:text="${productInfo.proDesc}" style="display: none;"></div>
											<div id="first-sentence"></div>
											
											<div class="read-more text-capitalize">
												<a title="Click to view Read More" class="readmore" style="color:#808080; font-size: 0.8rem;">點我看更多</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // 獲取所有具有 class 'product-desc' 的元素
    var descElements = document.getElementsByClassName('product-desc');

    Array.prototype.forEach.call(descElements, function(descElement) {
        var firstSentenceElement = descElement.nextElementSibling; // 假設 'first-sentence' 在 'product-desc' 之後
        
        // 獲取原始文本
        var text = descElement.textContent || descElement.innerText;

        // 分割文本以句號為標誌，並去除空白
        var sentences = text.split('。').map(sentence => sentence.trim());

        // 取第一個句子
        var firstSentence = sentences[0];

        // 顯示第一個句子
        if (firstSentenceElement) {
            firstSentenceElement.textContent = firstSentence + '。';
        }
    });
});
</script>



<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 選用元件 app-modals互動視窗 -->
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>
</body>

</html>