<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>訂單成立</title>
    <!-- 共同引入 headTag-import meta tag-->
    <meta th:replace="~{frontendapp/components/common :: headtag-import}">
</head>
<body>
<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<!-- 共用元件(index除外) bread crumb -->
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'訂單成立'})}"></div>

<main>
    <!-- 把你的內容貼在這裡-->
    <div class="order-inner float-left w-100">
        <div class="container">
            <div class="row">
                <div id="order-confirmation" class="card float-left w-100 mb-10">
                    <div class="card-block p-20">
                        <h3 class="card-title text-success">您的訂單已成立</h3>
                        <p>訂購確認信已寄至您的電子信箱 admin7890@gmail.com</p>
                    </div>
                </div>

                <div id="order-itens" class="card float-left w-100 mb-10">
                    <div class="card-block p-20">
                        <h3 class="card-title">訂購品項</h3>
                        <div class="order-confirmation-table float-left w-100">
                            <div class="order-line float-left w-100">
                                <div class="row">
                                    <div class="col-sm-1 col-xs-3 float-left">
                                        <img src="img/products/02.jpg" alt="">
                                    </div>

                                    <div class="col-sm-5 col-xs-9 details float-left">
                                        <span>巧克力慕斯蛋糕</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 qty float-left d-flex">
                                        <div class="col-xs-5 col-sm-5 text-sm-right text-xs-left">$350.00</div>
                                        <div class="col-xs-2 col-sm-2">1</div>
                                        <div class="col-xs-5 col-sm-5 text-sm-right bold">$350.00</div>
                                    </div>

                                    <div class="col-sm-5 col-xs-9 details float-left">
                                        <span>草莓奶油蛋糕</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 qty float-left d-flex">
                                        <div class="col-xs-5 col-sm-5 text-sm-right text-xs-left">$400.00</div>
                                        <div class="col-xs-2 col-sm-2">2</div>
                                        <div class="col-xs-5 col-sm-5 text-sm-right bold">$400.00</div>
                                    </div>

                                </div>
                            </div>
                            <hr class="float-left w-100">
                            <table class="float-left w-100 mb-30">
                                <tbody>
                                <tr class="mb-10">
                                    <td>總金額</td>
                                    <td class="text-right">$750.00</td>
                                </tr>
                                <tr class="mb-10">
                                    <td>購物金抵用金額</td>
                                    <td class="text-right">$50.00</td>
                                </tr>
                                <tr class="mb-10">
                                    <td>優惠券折扣金額</td>
                                    <td class="text-right">$0.00</td>
                                </tr>
                                <tr class="font-weight-bold">
                                    <td><span class="text-uppercase">總付款金額</span> (含稅)</td>
                                    <td class="text-right">$700.00</td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="order-details" class="float-left w-100">
                                <h3 class="h3 card-title">收件明細:</h3>
                                <ul>
                                    <li>訂單編號: 20001</li>
                                    <li>付款方式: 信用卡付款</li>
                                    <li>
                                        取貨方式: 宅配<br>
                                        <em>可管理員收件</em>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="content-hook_payment_return" class="card definition-list float-left w-100">
                    <div class="card-block p-20">
                        <div class="row">
                            <div class="col-md-12">

                                <p>
                                    您的訂購已完成.<br>
                                    我們會在收到款項後盡速出貨.
                                </p>


                                <!-- <div class="order-content-main">
                                    <div class="order-content mb-10">
                                        <div>Amount</div>
                                        <div>$107.00</div>
                                    </div>
                                    <div class="order-content mb-10">
                                        <div>Name of account owner</div>
                                        <div>___________</div>
                                    </div>
                                    <div class="order-content mb-10">
                                        <div>Please include these details</div>
                                        <div>___________</div>
                                    </div>
                                    <div class="order-content mb-10">
                                        <div>Bank name</div>
                                        <div>___________</div>
                                    </div>
                                </div> -->


                                <!-- <p>
                                    Please specify your order reference ZSMQIPYEH in the bankwire description.<br>
                                    We've also sent you this information by e-mail.
                                </p>
                                <strong>Your order will be sent as soon as we receive payment.</strong>
                                <p>
                                    If you have questions, comments or concerns, please contact our <strong><a
                                        href="contact-us.html">expert customer support team</a></strong>
                                </p> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 把你的內容貼在這裡-->
</main>

<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 選用元件 app-modals互動視窗 -->
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>
</body>

</html>