<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品總覽</title>
    <!-- 共同引入 headTag-import meta tag-->
    <meta th:replace="~{frontendapp/components/common :: headtag-import}">
    
    <style>
    
    .card-title{
    	font-size: 1.25rem;
    }
    .card-text{
    	font-size: 1rem;
    }
    .btn{
    	font-size: 1rem;
    	height:1.25rem;
    }
    .btn-primary{
    	font-size: 1rem;
    	height:3rem;
    }
    .material-icons{
    	font-size: 1rem;
    	
    }
    
    </style>
    
</head>
<body id="category" class="category-col-5">
<!-- <input type="hidden" id="username" th:value="j05011993"> 測試用的靜態值 -->

<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<!-- 共用元件(index除外) bread crumb -->
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'商品總覽'})}"></div>

<main>
    <!-- 把你的內容貼在這裡-->
    <div class="main-content w-100 float-left">
        <div class="container">
            <div class="row">
                <div class="content-wrapper col-xl-12 col-lg-12 order-lg-2">
                    <div class="block-category mb-30 w-100 float-left">
                        <div class="category-cover text-center">
                            <img src="/frontendapp/img/products/11.jpg" alt="category-banner"/>
                        </div>
                        <div class="title-category text-capitalize">Desserter</div>
                        <div class="category-description">以新鮮食材為基礎，融合傳統與創新的技術，提供精緻、美味的手工甜點。店內環境舒適、溫馨，適合與親友共享美好時光。我們每日新鮮現做，讓每位顧客都能品味到最純粹的甜點美味。歡迎光臨，一同感受甜蜜的幸福滋味！
                        </div>
                    </div>
                   
                    
                    <div class="container">
					    <div class="row">
					        <div class="col-4" th:each="productInfo : ${productInfoListData}" th:if="${productInfo.proStatus == 1}" style="margin-bottom: 20px;">
					            <div class="card" >
									<a th:href="@{/product/{productId}(productId=${productInfo.productId})}">
									
									     <img th:src="@{/productInfo/ProductInfoReader} + '?productId=' + ${productInfo.productId}" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
									 </a>					                
									    <div class="card-body" style="width:100%">
					                    <h5 class="card-title" th:text="${productInfo.proName}">Product Name</h5>
					                    <p class="card-text"><small class="text-muted" th:text="${productInfo.proPrice}">Price</small></p>
										 <div class="button-wrapper" >
                                            <div class="button-group text-center">
                                                <button type="button" class="btn btn-primary btn-cart"
                                                        data-target="#cart-pop" data-toggle="modal"><i
                                                        class="material-icons">加入購物車</i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-wishlist"
												        th:data-product-id="${productInfo.productId}"
												        onclick="toggleFavorite(this)"><i class="material-icons">加入最愛</i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-quickview"
                                                        data-toggle="modal" data-target="#product_view"><i
                                                        class="material-icons">visibility</i>
                                                </button>
                                            </div>
                                        </div>					                
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
  

                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>


    <!-- 把你的內容貼在這裡-->
</main>

<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 選用元件 app-modals互動視窗 -->
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>

<script src="/frontendapp/js/favorites.js"></script>

</body>

</html>