<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品資訊</title>
	<!-- 共同引入 headTag-import meta tag-->
	<meta th:replace="~{frontendapp/components/common :: headtag-import}">
</head>
<body id="product">
<!-- 共用元件 header:圖示按鈕, navbar...-->
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<!-- 共用元件(index除外) bread crumb -->
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'商品資訊'})}"></div>

<main>
	<!-- 把你的內容貼在這裡-->
	<div class="product-deatils-section float-left w-100">
		<div class="container">
			<div class="row">

				<div class="left-columm col-lg-5 col-md-5">

<!--					商品圖 proPic -->
					<div class="product-large-image tab-content">
						<div class="tab-pane active" id="product-01" role="tabpanel" aria-labelledby="product-tab-01">
							<div class="single-img img-full">
								<a href="img/products/01.jpg">
									<img src="img/products/01.jpg" class="img-fluid zoomImg" alt="">
								</a>
							</div>
						</div>
					</div>

				</div>

				<div class="right-columm col-lg-7 col-md-7">

<!--					商品資訊 -->
					<div class="product-information">

						<h4 class="product-title text-capitalize float-left w-100">
							<!-- 商品名稱 proName -->
							<div class="float-left w-100" th:text="${product.proName}">
								<p>商品名稱</p>
							</div>
						</h4>
<!--						商品描述 proDesc -->
						<div class="description" th:text="${product.proDesc}">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis viverra purus, non viverra
							nulla. Sed vehicula libero eu lectus eleifend volutpat. Sed et placerat arcu. Proin mi leo,
							interdum eu tortor at, euismod gravida velit. Fusce non enim lectus. Duis euismod, lorem vitae
							pharetra rhoncus, ligula risus elementum nunc, at interdum eros nunc eget augue. Donec dapibus
							nec diam ut tempor. Duis malesuada neque turpis, ut congue ipsum euismod eget. Sed egestas ipsum
							enim, sed semper magna auctor non.
						</div>

						<div class="rating">
							<p th:text="${averageRating}"></p>
<!--							平均星星數 commentStars/commentUsers -->
							<div class="product-ratings d-inline-block align-middle">
								<span class="fa fa-stack"><i class="material-icons">star</i></span>
								<span class="fa fa-stack"><i class="material-icons">star</i></span>
								<span class="fa fa-stack"><i class="material-icons">star</i></span>
								<span class="fa fa-stack"><i class="material-icons off">star</i></span>
								<span class="fa fa-stack"><i class="material-icons off">star</i></span>
							</div>
							<a href="#" class="review-down">(查看評價)</a>

						</div>

						<div class="price float-left w-100 d-flex">
<!--							商品價格 proPrice-->
							<div class="regular-price">$100.00</div>
<!--							<div class="old-price">$150.00</div>-->
						</div>

						<div class="btn-cart d-flex align-items-center float-left w-100">

							<h5>數量:</h5>
							<!-- 商品數量 -->
							<form>
								<label>
									<input value="1" type="number">
								</label>

								<button type="button" class="btn btn-primary btn-cart m-0" data-target="#cart-pop"
										data-toggle="modal">
									<i class="material-icons">shopping_cart</i>
									加入購物車
								</button>
							</form>
						</div>

						<div class="tt-links d-flex align-items-center float-left w-100 mb-15">
							<a href="wishlist.html" class="link btn-wishlist">
								<i class="material-icons">favorite</i>
								<span>加入最愛</span>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="product-tab-area float-left w-100">
		<div class="container">
			<div class="tabs">
				<ul class="nav nav-tabs justify-content-start">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#product-tab1" id="tab1">
						<div class="tab-title">詳細資訊</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#product-tab2" id="tab2">
						<div class="tab-title">顧客評價</div>
						</a>
					</li>
				</ul>
			</div>

			<div class="tab-content float-left w-100">
				<div class="tab-pane active" id="product-tab1" role="tabpanel" aria-labelledby="tab1">
<!--					商品描述 proDesc-->
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis viverra purus, non viverra
						nulla. Sed vehicula libero eu lectus eleifend volutpat. Sed et placerat arcu. Proin mi leo, interdum
						eu tortor at, euismod gravida velit. Fusce non enim lectus. Duis euismod, lorem vitae pharetra
						rhoncus, ligula risus elementum nunc, at interdum eros nunc eget augue. Donec dapibus nec diam ut
						tempor. Duis malesuada neque turpis, ut congue ipsum euismod eget. Sed egestas ipsum enim, sed
						semper magna auctor non. Praesent risus nunc, ultricies vel velit nec, fringilla venenatis sem. Nunc
						condimentum, elit sed posuere accumsan, mauris nisl ornare metus, nec hendrerit quam velit ut nibh.
						Vivamus sodales neque vel sodales porta. Mauris hendrerit felis in mi auctor posuere. Mauris a
						consequat sapien, eget condimentum risus. Curabitur iaculis lorem non pretium varius. In hac
						habitasse platea dictumst.
					</div>
				</div>
<!-- =========== 商品評價紀錄 資料庫table: productComment ============= -->
				<div class="tab-pane" id="product-tab2" role="tabpanel" aria-labelledby="tab2">
					<div class="reviews-tab  float-left w-100">
<!--						總評價人數 commentUsers 動態產生div數量-->
						<div class="ttreview-tab float-left w-100 p-30">

							<div class="rating float-left w-100">
								<div class="product-ratings d-inline-block align-middle">
<!--									滿意度 commentRate-->
									<span class="fa fa-stack"><i class="material-icons">star</i></span>
									<span class="fa fa-stack"><i class="material-icons">star</i></span>
									<span class="fa fa-stack"><i class="material-icons">star</i></span>
									<span class="fa fa-stack"><i class="material-icons off">star</i></span>
									<span class="fa fa-stack"><i class="material-icons off">star</i></span>
								</div>
							</div>

							<div class="review-title float-left w-100">
<!--								會員帳號 account 資料庫table: member-->
								<span class="user">admin</span>

<!--								評論時間 commentDate	-->
								<span class="date">– February 14, 2019</span>
							</div>

<!--							評論內容 commentText-->
							<div class="review-desc  float-left w-100">
								Aliquam at ipsum tellus. Donec arcu est, posuere quis
								orci vel, commodo cursus augue.
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="product-accessories" class="product-accessories my-40 w-100 float-left">
		<div class="container">
			<div class="row">
				<div class="tt-title d-inline-block float-none w-100 text-center">推薦商品</div>

<!--				隨機推薦商品  -->
				<div class="product-accessories-content products grid owl-carousel">
<!--					動態產生div數量-->
					<div class="product-layouts">
						<div class="product-thumb">
<!--							商品圖片-->
							<div class="image zoom">
								<a href="product-details.html">
									<img src="img/products/01.jpg" alt="01"/>
									<img src="img/products/02.jpg" alt="02" class="second_image img-responsive"/>
								</a>
							</div>

							<div class="thumb-description">
								<div class="caption">
									<h4 class="product-title text-capitalize">
<!--										商品名稱-->
										<a href="product-details.html">
											aliquam quaerat voluptatem
										</a>
									</h4>
								</div>

								<div class="rating">
<!--									平均星星數-->
									<div class="product-ratings d-inline-block align-middle">
										<span class="fa fa-stack"><i class="material-icons">star</i></span>
										<span class="fa fa-stack"><i class="material-icons">star</i></span>
										<span class="fa fa-stack"><i class="material-icons">star</i></span>
										<span class="fa fa-stack"><i class="material-icons off">star</i></span>
										<span class="fa fa-stack"><i class="material-icons off">star</i></span>
									</div>
								</div>

								<div class="price">
<!--									商品價格-->
									<div class="regular-price">$100.00</div>
								</div>

								<div class="button-wrapper">
									<div class="button-group text-center">
										<button type="button" class="btn btn-primary btn-cart" data-target="#cart-pop"
												data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add to cart</span>
										</button>

										<a href="wishlist.html" class="btn btn-primary btn-wishlist"><i
												class="material-icons">favorite</i><span>wishlist</span></a>

<!--										商品預覽modal 要去common綁定-->
										<button type="button" class="btn btn-primary btn-quickview" data-toggle="modal"
												data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- 把你的內容貼在這裡-->
</main>

<!-- 共用元件 footer和一些按鈕功能 -->
<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<!-- 選用元件 app-modals互動視窗 -->
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<!-- 共同引入 置底 import-in-the-end -->
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>
<script src="/frontendapp/js/jquery-ui.min.js"></script>
<script src="/frontendapp/js/jquery.sticky-kit.min.js"></script>

</body>

</html>