<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>註冊會員</title>
    <meta th:replace="~{frontendapp/components/common :: headtag-import}">
</head>
<body>
<div th:replace="~{frontendapp/components/common :: app-header}"></div>
<div th:replace="~{frontendapp/components/common :: app-bread-crumb(title=${'註冊會員'})}"></div>

<main>
    <div id="modalRegisterForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-medium text-left">註冊</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/register}" method="post" th:object="${memberRegisterRequest}">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <input type="text" id="RegisterForm-account" th:field="*{account}"
                                   class="form-control validate"
                                   placeholder="帳號 (6-10個字元, 只能包含小寫字母和數字)" required>
                            <!-- 顯示帳號的驗證錯誤或自定義錯誤 -->
                            <div th:if="${accountError != null}" th:text="${accountError}" class="text-danger"></div>
                            <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"
                                 class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <input type="password" id="RegisterForm-password" th:field="*{password}"
                                   class="form-control validate"
                                   placeholder="密碼 (6-10個字元, 只能包含小寫字母和數字)" required>
                            <!-- 顯示密碼的驗證錯誤 -->
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                 class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <input type="email" id="RegisterForm-email" th:field="*{email}"
                                   class="form-control validate"
                                   placeholder="Email" required>
                            <!-- 顯示Email的驗證錯誤或自定義錯誤 -->
                            <div th:if="${#fields.hasErrors('email') || emailError != null}"
                                 th:text="${#fields.hasErrors('email') ? #fields.error('email').message : emailError}"
                                 class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <input type="text" id="RegisterForm-name" th:field="*{name}" class="form-control validate"
                                   placeholder="姓名" required>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <input type="date" id="RegisterForm-birthDt" th:field="*{birthDt}"
                                   class="form-control validate"
                                   placeholder="出生日期 (yyyy-MM-dd)" required>
                            <div th:if="${#fields.hasErrors('birthDt')}" th:errors="*{birthDt}"
                                 class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <input type="text" id="RegisterForm-phone" th:field="*{phone}" class="form-control validate"
                                   placeholder="手機號碼" required>
                            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <select id="county-select" th:field="*{cntCode}" class="form-control" onchange="loadDistricts()" required>
                                <option value="" disabled selected>選擇縣市</option>
                                <option th:each="county : ${counties}" th:value="${county.cntCode}" th:text="${county.cntName}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('cntCode')}" th:errors="*{cntCode}" class="text-danger"></div>
                        </div>
                        <div class="md-form mb-4">
                            <select id="district-select" th:field="*{distCode}" class="form-control" required>
                                <option value="" disabled selected>選擇鄉鎮市區</option>
                            </select>
                            <div th:if="${#fields.hasErrors('distCode')}" th:errors="*{distCode}" class="text-danger"></div>
                        </div>

                        <div class="md-form mb-4">
                            <input type="text" id="RegisterForm-address" th:field="*{address}"
                                   class="form-control validate"
                                   placeholder="地址" required>
                            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                 class="text-danger"></div>
                        </div>

                        <!-- 隱藏欄位 -->
                        <input type="hidden" th:field="*{createdBy}">
                        <input type="hidden" th:field="*{lastUpdatedBy}">
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">註冊</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{frontendapp/components/common :: app-footer}"></div>
<div th:replace="~{frontendapp/components/common :: app-modals}"></div>
<div th:replace="~{frontendapp/components/common :: import-in-the-end}"></div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // 頁面初始加載時設置縣市和鄉鎮市區的預設選項
        var countySelect = document.getElementById('county-select');
        var districtSelect = document.getElementById('district-select');

        // 設置縣市的預設選項
        countySelect.selectedIndex = 0;
        // 設置鄉鎮市區的預設選項
        districtSelect.innerHTML = '<option value="" disabled selected>選擇鄉鎮市區</option>';
    });

    function loadDistricts() {
        var cntCode = document.getElementById('county-select').value;
        fetch('/api/districts?cntCode=' + cntCode)
            .then(response => response.json())
            .then(data => {
                var districtSelect = document.getElementById('district-select');
                // 清空現有選項並設置預設選項
                districtSelect.innerHTML = '<option value="" disabled selected>選擇鄉鎮市區</option>';
                data.forEach(function (district) {
                    var option = document.createElement('option');
                    option.value = district.distCode;
                    option.text = district.distName;
                    districtSelect.appendChild(option);
                });
            });
    }
</script>

</body>
</html>
