<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>你的功能名稱</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0" font-style="bold">你的功能名稱</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
				
				<!-- ==============後台人員登入登出用 =============-->
				<body th:insert="~{/comLogin}"></body>

                <!-- ==============寫入你的mainPage名稱 =============-->
                <li class="breadcrumb-item active">你的功能名稱</li>
                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	
	<!-- 把你的內容貼在這裡 -->
	<!-- 把你的內容貼在這裡 -->
	<!-- 把你的內容貼在這裡 -->

	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	<script type="text/javascript">
	//清除提示信息
	function hideContent(d) {
	     document.getElementById(d).style.display = "none";
	}
	</script>

	</body>
</html>