<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>你的功能名稱</title>

    <!-- header-css etc. -->

    <head th:insert="~{/comPage1}"></head>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <!-- side bar -->

    <body th:insert="~{/comPage2}"></body>

    <!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" font-style="bold">你的功能名稱</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>

                            <!-- ==============後台人員登入登出用 =============-->

                            <body th:insert="~{/comLogin}"></body>

                            <!-- ==============寫入你的mainPage名稱 =============-->
                            <li class="breadcrumb-item"><a th:href="@{../XXXXXX/mainPageXXXXXX}">你的功能名稱</a></li>
                            <li class="breadcrumb-item active">XXXXXX資料</li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- 功能內容開始 -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info">
                            <h6><i class="fas fa-info"></i> 修改成功!</h6>
                        </div>

                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <p class="lead" font-style="bold">XXXXXX資料</p>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>欄位1:</th>
                                                <td th:text="${要帶入的內容1}"></td>
                                            </tr>
                                            <tr>
                                                <th>欄位1:</th>
                                                <td th:text="${要帶入的內容2}"></td>
                                            </tr>
                                            <tr>
                                                <th>建檔者:</th>
                                                <td th:text="${XXXXXXVO.createdBy}"></td>
                                            </tr>
                                            <tr>
                                                <th>建檔時間:</th>
                                                <td th:text="${XXXXXXVO.dateCreated}"></td>
                                            </tr>
                                            <tr>
                                                <th>最後更新者:</th>
                                                <td th:text="${XXXXXXVO.lastUpdatedBy}"></td>
                                            </tr>
                                            <tr>
                                                <th>最後更新時間:</th>
                                                <td th:text="${XXXXXXVO.lastUpdated}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div>
                                <a th:href="@{../XXXXXX/listAllXXXXXX}"><button type="button" class="btn btn-primary">返回</button></a>
                            </div>
                        </div>
                        <!-- /.invoice -->
                    </div>
                </div>
            </div>

        </section>
        <!-- 功能內容結束 -->

        <!-- footer and script link -->

        <body th:insert="~{/comPage3}"></body>

        <script type="text/javascript">
            //清除提示信息
            function hideContent(d) {
                document.getElementById(d).style.display = "none";
            }
        </script>

</body>

</html>