<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>你的功能名稱</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0" font-style="bold">你的功能名稱</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
				
				<!-- ==============後台人員登入登出用 =============-->
				<body th:insert="~{/comLogin}"></body>

                <!-- ==============寫入你的mainPage名稱 =============-->
                <li class="breadcrumb-item"><a th:href="@{../XXXXXX/mainPageXXXXXX}">你的功能名稱</a></li>
                <li class="breadcrumb-item active">編輯XX資料</li>
                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
		<div class="row">
		<!-- left column -->
		<div class="col-md-12">
		<!-- general form elements -->
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">編輯XX資料</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form th:action="@{update}" method="post" th:object="${XXXXXXVO}" enctype="multipart/form-data">
				<div class="card-body">
				
					<div class="form-group">
					<label>欄位1:</label>
					<!-- 欄位1內容 -->
					<input type="text" class="form-control" />
					</div>
					
					<div class="form-group">
					<label>欄位2:</label>
					<!-- 欄位2內容 -->
					<input type="text" class="form-control" />
					</div>

					<div class="form-group">
					<label>欄位3:下拉選單</label>
					<select class="form-control">
						<!-- 欄位3內容 -->
						<option value="">選項1</option>
						<option value="">選項2</option>
					</select>	
					</div>
									
					<div>
					<input type="hidden" th:field="*{createdBy}" />
					</div>
					
					<div class="form-group">
					<label>最後更新者:</label>
					<input type="text" th:field="*{lastUpdatedBy}" onclick="hideContent('lastUpdatedBy.errors');" class="form-control"/><br />
					<span th:if="${#fields.hasErrors('lastUpdatedBy')}" th:errors="*{lastUpdatedBy}" class="error" id="lastUpdatedBy.errors"></span>
					</div>
					
					<div class="form-group">
					<a th:href="@{../XXXXXX/listAllXXXXXX}"><button type="button" class="btn btn-danger">返回</button></a>
					<button type="submit" class="btn btn-primary">儲存</button>
					</div>
				</div>
				<!-- /.card-body -->

			</form>
		</div>
		<!-- /.card -->
	</div>


	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	<script type="text/javascript">
	//清除提示信息
	function hideContent(d) {
	     document.getElementById(d).style.display = "none";
	}
	</script>

	</body>
</html>