<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>員工資料管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">

	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">員工資料管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                 <body th:insert="~{/comLogin}"></body>
                <li class="breadcrumb-item active"><a th:href="@{mainPageStaff}">員工資料管理</a></li>
                <li class="breadcrumb-item active">新增員工</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">新增員工</h3>
			</div>
		<form th:action="@{insert}" method="post" th:object="${staffVO}">
			<div class="card-body">
			<div class="form-group">
				<label>員工姓名:</label>
					<input type="text" th:field="*{name}" onclick="hideContent('name.errors');"/><br>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" id="name.errors"></span>
			</div>
			<div class="form-group">
				<label>權限:</label>
					<label><input type="radio" name="permission" value="1">管理者</label>
					<label><input type="radio" name="permission" value="0" checked>一般員工</label>
			</div>
			<div class="form-group">
				<label>員工電話:</label>
					<input type="text" th:field="*{phone}" onclick="hideContent('phone.errors');"/><br>
					<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error" id="phone.errors"></span>
			</div>
			<div class="form-group">
				<label>員工信箱:</label>
					<input type="email" th:field="*{email}" onclick="hideContent('email.errors');"/><br>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" id="email.errors"></span>
			</div>
			<div class="form-group">
				<label>到職日期:</label>
					<input type="date" th:field="*{employDt}" onclick="hideContent('employDt.errors'); this.showPicker();"/><br>
					<span class="error" th:utext="${errorMessage}" id="employDt.errors">${errorMessage}</span>
			</div>
			<div class="form-group">
				<label>建檔者:</label> 
            		<span th:text="${session.staffName}"></span><br/>
			</div>
			<div class="form-group">
				<button type="reset" class="btn btn-secondary">清除重填</button>
				<button type="submit" class="btn btn-primary" id="submit">送出新增</button>
				<a th:href="@{mainPageStaff}"  style="display: inline-block;"><button type="button" class="btn btn-info">回主頁</button></a>
			</div>
		</form>
		</div>
		<script>
			function hideContent(d){
				document.getElementById(d).style.display = "none";
			}
		</script>
	
	</section>
	<!-- 功能內容結束 -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>