<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>新增員工</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>

	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">員工基本資料</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                <li class="breadcrumb-item active">新增員工</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		<div align="center">
			<h2>新增員工</h2>
			<h3>
				<a th:href="@{/staff/mainPageStaff}">回員工首頁</a>
			</h3>
			
		<form th:action="@{insert}" method="post" th:object="${staffVO}">
			<div>
				<label>員工姓名:</label>
					<input type="text" th:field="*{name}" onclick="hideContent('name.errors');"/><br>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" id="name.errors"></span>
			</div>
			<div>
				<label>員工電話:</label>
					<input type="text" th:field="*{phone}" onclick="hideContent('phone.errors');"/><br>
					<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error" id="phone.errors"></span>
			</div>
			<div>
				<label>員工信箱:</label>
					<input type="text" th:field="*{email}" onclick="hideContent('email.errors');"/><br>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" id="email.errors"></span>
			</div>
			<div>
				<label>到職日期:</label>
					<input type="date" th:field="*{employDt}" onclick="hideContent('employDt.errors');"/><br>
					<span th:if="${#fields.hasErrors('employDt')}" th:errors="*{employDt}" class="error" id="employDt.errors"></span>
			</div>
			<div>
				<label>建檔者:</label> <input type="text" th:field="*{createdBy}" onclick="hideContent('createdBy.errors');" /><br /> 
				<span th:if="${#fields.hasErrors('createdBy')}" th:errors="*{createdBy}" class="error" id="createdBy.errors"></span>
			</div>
			<div>
				<button type="submit" id="submit">送出新增</button>
			</div>
		</form>
		</div>
		<script>
			function hideContent(d){
				document.getElementById(d).style.display = "none";
			}
		</script>
	
	</section>
	<!-- 功能內容結束 -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>