<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>員工資料系統</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>

	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Desserter 員工一覽</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                <li class="breadcrumb-item" style="display: inline-block; white-space: nowrap; margin-right: 10px;">
                	<div th:if="${session.staffName == null}"><a href="staffLogin">登入</a></div>
               	 	<div th:if="${session.staffName != null}"><a href="logout" th:text="${session.staffName}"></a></div></li>
                <li class="breadcrumb-item active">員工一覽</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		<h2>員工查詢</h2>
	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div>
	<br>
	<div>
		<ul>
			<li><h5><a href="listAllStaff">全部</a>員工</h5></li>
			<li><h5><a href="addStaff">新增</a>員工</h5></li>
			<li>
				<form method="post" th:action="@{getOne_For_Display}">
					<p>員工編號:
					<select name="staffId">
						<option th:each="staffVO : ${staffListData}" th:value="${staffVO.staffId}" th:text="${staffVO.staffId}"/>
					</select>
				<input type="submit" value="送出">
				</form><br>
			</li>
		</ul>
		<hr>
		<ul>
		<li>
			<form method="post" th:action="@{listStaff_ByCompositeQuery}">
				<p>到職日期區間:
					<input type="date" name="startEmployDt">
				   ~<input type="date" name="endEmployDt"><br>
				<p>是否還在職:
					<select name="status">
						<option value = " "></option>
						<option value = "1">在職</option>
						<option value = "0">已離職</option>
					</select>	
				<input type="submit" value="送出">
			</form><br>
		</li>
		</ul>
	</div>
	<div th:if="${getOne_For_Display}">
		<div th:insert="~{/staff/listOneStaff :: listOneStaff-div}"></div>
	</div>
	
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

</html>