<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>員工資料管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>

	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">員工資料管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                <body th:insert="~{/comLogin}"></body>
                <li class="breadcrumb-item active">員工資料管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">員工查詢</h3>
			</div>
		<div class="card-body" style="padding-bottom: 0;">
		<form method="post" th:action="@{getOne_For_Display}">
			<div class="form-group" style="display: flex; align-items: center;">
				<label style="margin-top: 10px;">員工編號:</label>
					<select name="staffId" style="margin-left: 10px;">
						<option th:each="staffVO : ${staffListData}" th:value="${staffVO.staffId}" th:text="${staffVO.staffId}"/>
					</select>
				<button type="submit" class="btn btn-primary" style="margin-left: 10px;">送 出</button></div>
		</form>
		<hr>
		<form method="post" th:action="@{listStaff_ByCompositeQuery}">
			<div class="form-group">
				<label style="display: inline-block;">到職日期區間:</label>
					<input type="date" id="startEmployDt" name="startEmployDt" onclick="this.showPicker();" onchange="validateDate()" style="width: 120px; display: inline-block; margin-left: 10px;margin-right: 10px;">
				   到<input type="date" id="endEmployDt" name="endEmployDt" onclick="this.showPicker();" onchange="validateDate()"style="width: 120px; display: inline-block; margin-left: 10px;"><br>
				<label style="margin-top: 10px;">是否仍在職:</label>
					<select name="status" style="margin-left: 10px;">
						<option value = " "></option>
						<option value = "1">在職</option>
						<option value = "0">已離職</option>
					</select><br>	
				<button type="submit" class="btn btn-primary" style="margin-top: 10px;">送 出</button></div></div>
			<div class="form-group">
				<a href="listAllStaff"><button type="submit" class="btn btn-primary" style="margin-left: 20px;">全部員工</button></a>
				<a href="addStaff"><button type="button" class="btn btn-success" th:if="${session.permission == 1}">新 增</button></a>
			</div>
		</form></div></div></div></div>
	</section>
	<script>
		function validateDate(){
			var startEmployDt = document.getElementById('startEmployDt').value;
			var endEmployDt = document.getElementById('endEmployDt').value;
			
			if(startEmployDt && endEmployDt){
				if(endEmployDt < startEmployDt){
					alert('結束日不得早於開始日');
					
					document.getElementById('endEmployDt').value = '';				}
			}
			
		}
	</script>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

</html>