<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>員工登入</title>
		
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">
		
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">
	
		<!-- side bar -->
		<body th:insert="~{/comPage2}"></body>
		
		<!-- Content Wrapper. Contains page content -->
	    <!-- 儀錶板上面那排 -->
	    <div class="content-wrapper">
	      <!-- Content Header (Page header) -->
	      <div class="content-header">
	        <div class="container-fluid">
	          <div class="row mb-2">
	            <div class="col-sm-6">
	              <h1 class="m-0">員工登入</h1>
	            </div><!-- /.col -->
	            <div class="col-sm-6">
	              <ol class="breadcrumb float-sm-right">
	                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
	                <li class="breadcrumb-item active">員工登入</li>
	              </ol>
	            </div><!-- /.col -->
	          </div><!-- /.row -->
	        </div><!-- /.container-fluid -->
	      </div>
	      <!-- /.content-header -->
	
		<!-- 功能內容開始 -->
		
		<section class="content">
		<div class="invoice p-3 mb-3">
        <div class="row">
        <div class="col-12">
		<p class="lead" style="font-weight:bold;">員工登入</p>
			<form th:action="@{login}" method="post">
			<input type="hidden" name="redirect" th:value="${param.redirect}">
	        	<table class="table" border = 1>
					<tr>
						<th style="width: 100px;">員工編號:</th>
						<td><input type="text" name="staffId"></td>
					</tr>
					<tr>
						<th>密碼:</th>
						<td><input type="password" name="password"/></td>
					</tr>
				</table>
		<span class="error" th:text="${errorMessage}"></span><br>
		<button type="submit" class="btn btn-primary">登入</button>				
		</form></div></div></div>
		<a th:href="staffChangePW"><button type="submit" class="btn btn-secondary">變更密碼</button></a>
		</section>
		<body th:insert="~{/comPage3}"></body>
		
	</body>
	</html>