<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>變更密碼</title>
	
		<th:block th:insert="~{/comPage1}"></th:block>
		<link rel="stylesheet" th:href="@{/css/error.css}">
	
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
	
		<!-- side bar -->
		<th:block th:insert="~{/comPage2}"></th:block>
		
		<!-- Content Wrapper. Contains page content -->
	    <!-- 儀錶板上面那排 -->
	    <div class="content-wrapper">
	      <!-- Content Header (Page header) -->
	      <div class="content-header">
	        <div class="container-fluid">
	          <div class="row mb-2">
	            <div class="col-sm-6">
	              <h1 class="m-0">變更密碼</h1>
	            </div><!-- /.col -->
	            <div class="col-sm-6">
	              <ol class="breadcrumb float-sm-right">
	                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
	                <li class="breadcrumb-item active">變更密碼</li>
	              </ol>
	            </div><!-- /.col -->
	          </div><!-- /.row -->
	        </div><!-- /.container-fluid -->
	      </div>
	      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="invoice p-3 mb-3">
    <div class="row">
    <div class="col-12">
    <p class="lead" style="font-weight:bold;">變更密碼</p>
		<form method="post" th:action="@{changePW}" th:object="${staffVO}">
			<table class="table" border = 1>
				<tr>
					<th>員工編號:</th>
					<td><input type="text" name="staffId"></td>
				</tr>
				<tr>
					<th>輸入舊密碼:</th>
					<td><input type = "password" name = "pastPW"></td>
				</tr>
				<tr>
					<th>輸入新密碼:</th>
					<td><input type = "password" name = "newPW"></td>
				</tr>
			</table>
			<span class="error" th:text="${errorMessage}"></span><br>
			<button type="submit" class="btn btn-primary">確認修改</button>				
		</form></div></div></div>
	</section>
	<th:block th:insert="~{/comPage3}"></th:block>
		
	
</body>
</html>