<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>客服問題類型</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">客服問題類型</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                <body th:insert="~{/comLogin}"></body>
                <li class="breadcrumb-item active">客服問題類型</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		
	<h3>
		<a th:href="@{/quType/mainPageQuType}">回客服問題類型頁面</a>
	</h3>
		<span>類型編號:</span>	
			<span th:text="${quTypeVO.quTypeId}"></span><br>
		<span>問題類型描述:</span>
			<span th:text="${quTypeVO.quTypeDesc}"></span><br>
		<span>建檔者:</span>
			<span th:text="${quTypeVO.createdBy}"></span><br>
		<span>建檔時間:</span>
			<span th:text="${#dates.format(quTypeVO.dateCreated, 'yyyy-MM-dd HH:mm:ss')}"></span><br>
		<span>最後更新者:</span>
			<span th:text="${quTypeVO.lastUpdatedBy}"></span><br>
		<span>最後更新時間:</span>
			<span th:text="${#dates.format(quTypeVO.lastUpdated, 'yyyy-MM-dd HH:mm:ss')}"></span><br>
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>