<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">公告管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <body th:insert="~{/comLogin}"></body>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">公告管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		
		<h3>
			<a th:href="@{/news/mainPageNews}">回公告首頁</a>
		</h3>
		
		<p>公告</p>
			<span>公告編號</span>
				<span th:text="${newsVO.newsId}"></span><br>
			<span>公告標題</span>
				<span th:text="${newsVO.newsTitle}"></span><br>
			<span>公告內容</span>
				<span th:text="${newsVO.newsContent}"></span><br>
			<span>公告日期</span>
				<span th:text="${newsVO.newsDate}"></span><br>
			<span>公告起始日</span>
				<span th:text="${newsVO.startDt}"></span><br>
			<span>公告結束日</span>
				<span th:text="${newsVO.endDt}"></span><br>
			<span>公告圖片</span>
				<span><img th:src="@{/news/DBGifReader} + '?newsId=' + ${newsVO.newsId}" width="100px"></span><br>
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>