<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">公告管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <body th:insert="~{/comLogin}"></body>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">公告管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		<h2>公告查詢</h2>
		<div>
			<ul>
				<li><h5><a href="listAllNews">全部</a>公告</h5>
				<li><h5><a href="addNews">新增</a>公告</h5>
			</ul>
			<hr>
			<ul>
				<li>
					<form method="post" th:action="@{listNews_ByCompositeQuery}">
						<p>公告標題:
							<input type="text" name="newsTitle">
						<p>公告內容:
							<input type="text" name="newsContent">
						<p>日期區間內發布的公告:
							<input type="date" id="startPublish" name="startPublish" onchange="validateDate()">
							~<input type="date" id="endPublish" name="endPublish" onchange="validateDate()">
<!-- 						<p>日期區間內生效的公告: -->
<!-- 							<input type="date" id="beginDt" name="beginDt" onchange="validateDate()"> -->
<!-- 							~<input type="date" id="overDt" name="overDt" onchange="validateDate()"> -->
						
						<br><input type="submit" value="送出">
					</form><br>
			</ul>
		</div>
	
		<script>
			function validateDate(){
				var startPublish = document.getElementById('startPublish').value;
				var endPublish = document.getElementById('endPublish').value;
				var beginDt = document.getElementById('beginDt').value;
				var overDt = document.getElementById('overDt').value;
				
	                if ((startPublish && endPublish) && (startPublish > endPublish)) {
	                    alert('結束日不得早於開始日');
	                    document.getElementById('endPublish').value = '';
	                }
	                if ((beginDt && overDt) && (beginDt > overDt)){
	                    alert('結束日不得早於開始日');
	                    document.getElementById('overDt').value = '';
	                }
				}
		</script>
	
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>