<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>商品公告管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<link rel="stylesheet" th:href="@{/css/error.css}">
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0" >商品公告管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <body th:insert="~{/comLogin}"></body>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">商品公告管理</li>
                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">公告查詢</h3>
			</div>
		<div>
			<form method="post" th:action="@{listNews_ByCompositeQuery}">
				<div class="card-body">
					<div class="form-group">
						<label>公告標題:</label>
							<input type="text" name="newsTitle" class="form-control" />
					</div>
					<div class="form-group">
						<label>公告內容:</label>
							<input type="text" name="newsContent" class="form-control" />
					</div>
					<div class="form-group">
						<label style="display: inline-block;">日期區間內發布的公告:</label>
							<input type="date" id="startPublish" name="startPublish" onclick="this.showPicker();" onchange="validateDate()" class="form-control custom-date" style="width: 120px; display: inline-block; margin-left: 10px;margin-right: 10px;">
							到
							<input type="date" id="endPublish" name="endPublish" onclick="this.showPicker();" onchange="validateDate()" class="form-control custom-date" style="width: 120px; display: inline-block; margin-left: 10px;">
					</div>
					<div class="form-grout">
						<button type="reset" class="btn btn-secondary">清 除</button>
						<button type="submit" class="btn btn-primary">送 出</button>
						<a href="addNews"><button type="button" class="btn btn-success" th:if="${session.permission != null}">新 增</button></a>
					</div>
					</div>
			</form>
			</div>
		</div></div></div>
		<script>
		function datePicker(input){
			input.click();
		}	
		
		function validateDate(){
				var startPublish = document.getElementById('startPublish').value;
				var endPublish = document.getElementById('endPublish').value;
				
	                if ((startPublish && endPublish) && (startPublish > endPublish)) {
	                    alert('結束日不得早於開始日');
	                    document.getElementById('endPublish').value = '';
	                }
				}
		</script>
	</div>
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>