<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>更新會員資料</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">更新會員資料</h1>
    <form th:action="@{/member/update/{id}(id=${member.memberId})}" th:object="${member}" method="post">
        <div class="form-group">
            <label for="memberId">會員編號</label>
            <input readonly type="text" id="memberId" th:field="*{memberId}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="memberLvId">會員等級</label>
            <input type="text" id="memberLvId" th:field="*{memberLvId}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('memberLvId')}" th:errors="*{memberLvId}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">錯誤訊息</div>
        </div>
        <input type="hidden" id="phone" th:field="*{phone}" class="form-control"/>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="cntCode">國家代碼</label>
            <input type="text" id="cntCode" th:field="*{cntCode}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('cntCode')}" th:errors="*{cntCode}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="distCode">地區代碼</label>
            <input type="text" id="distCode" th:field="*{distCode}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('distCode')}" th:errors="*{distCode}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="address">地址</label>
            <input type="text" id="address" th:field="*{address}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="accumulate">累計消費</label>
            <input type="text" id="accumulate" th:field="*{accumulate}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('accumulate')}" th:errors="*{accumulate}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="coinBalance">購物金餘額</label>
            <input type="text" id="coinBalance" th:field="*{coinBalance}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('coinBalance')}" th:errors="*{coinBalance}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="noShow">未取貨次數</label>
            <input type="text" id="noShow" th:field="*{noShow}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('noShow')}" th:errors="*{noShow}">錯誤訊息</div>
        </div>
        <div class="form-group">
            <label for="status">帳號狀態</label>
            <select id="status" th:field="*{status}" class="form-control" onchange="toggleBlockedReason()">
                <option th:each="status : ${T(com.tia102g1.member.constant.AccountStatus).values()}"
                        th:value="${status.getStatus()}"
                        th:text="${status.name()}"
                        th:selected="${member.status} == ${status.getStatus()}">
                </option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">錯誤訊息</div>
        </div>

        <div class="form-group" id="blockedReasonDiv" style="display: none;">
            <label for="blockedReason">停權理由</label>
            <input type="text" id="blockedReason" th:field="*{blockedReason}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('blockedReason')}" th:errors="*{blockedReason}">錯誤訊息</div>
        </div>

        <input type="hidden" th:field="*{password}" th:value="${member.password}"/>
        <input type="hidden" th:field="*{lastUpdatedBy}" th:value="${member.lastUpdatedBy}"/>
        <button type="submit" class="btn btn-primary">更新</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/member/mainPageMember'">回到上一頁</button>
    </form>
</div>

<!-- 當帳號狀態為BLOCKED，會顯示出停權理由 -->
<script>
    function toggleBlockedReason() {
        var status = document.getElementById("status").value;
        var blockedReasonDiv = document.getElementById("blockedReasonDiv");
        if (status == "1") {
            blockedReasonDiv.style.display = "block";
        } else {
            blockedReasonDiv.style.display = "none";
        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        toggleBlockedReason();
    });
</script>
</body>
</html>
