<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>系統訊息管理</title>
		
		<head th:insert="~{/comPage1}"></head>
		<head th:insert="~{/comPage1}"></head>
		<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>        
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> 
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css"/>
	
		<script>
			$(document).ready(function() {
				$('#example').DataTable({
					"lengthMenu": [3 ,5, 10, 20, 50, 100],
					"searching": true,  //搜尋功能, 預設是開啟
				    "paging": true,     //分頁功能, 預設是開啟
				    "ordering": true,   //排序功能, 預設是開啟
				    "language": {
				        "processing": "處理中...",
				        "loadingRecords": "載入中...",
				        "lengthMenu": "顯示 _MENU_ 筆結果",
				        "zeroRecords": "沒有符合的結果",
				        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
				        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
				        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
				        "infoPostFix": "",
				        "search": "搜尋:",
				        "paginate": {
				            "first": "第一頁",
				            "previous": "上一頁",
				            "next": "下一頁",
				            "last": "最後一頁"
				        },
				        "aria": {
				            "sortAscending":  ": 升冪排列",
				            "sortDescending": ": 降冪排列"
				        }
				    }
				});
			});
		</script>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
	
		<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
	<!-- 儀錶板上面那排 -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">系統訊息管理</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
							<body th:insert="~{/comLogin}"></body>
							<li class="breadcrumb-item active"><a th:href="@{mainPageSysMsg}">系統訊息管理</a></li>
							<li class="breadcrumb-item active">系統訊息總覽</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
	
		<!-- 功能內容開始 -->
		<section class="content">
		<table id="example" class="table display" style="width:100%">
			<thead>
				<tr>
					<th>系統通知編號</th>
					<th>訊息類型</th>
					<th>訊息標題</th>
					<th>訊息內容</th>
					<th>啟用狀態</th>
					<th>建檔者</th>
					<th>建檔時間</th>
					<th>最後更新者</th>
					<th>最後更新時間</th>
					<th>修改</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="sysMsgVO : ${sysMsgListData}">
					<tr>
						<td th:text="${sysMsgVO.sysMsgId}"></td>
						<td><span th:if="${sysMsgVO.type} == 1">會員相關訊息</span> 
							<span th:if="${sysMsgVO.type} == 2">付款相關訊息</span> 
							<span th:if="${sysMsgVO.type} == 3">訂單相關訊息</span></td>
						<td th:text="${sysMsgVO.msgTitle}"></td>
						<td th:text="${sysMsgVO.msgContent}"></td>
						<td><span th:if="${sysMsgVO.status} == 0">停用</span> 
							<span th:if="${sysMsgVO.status} == 1">啟用中</span></td>
						<td th:text="${sysMsgVO.createdBy}"></td>
						<td	th:text="${#dates.format(sysMsgVO.dateCreated, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${sysMsgVO.lastUpdatedBy}"></td>
						<td	th:text="${#dates.format(sysMsgVO.lastUpdated, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td>
							<form method="post" th:action="@{/sysMsg/getOne_For_Update}">
								<input type="submit" class="btn btn-primary btn-sm" value="修改"> 
								<input type="hidden" name="sysMsgId" th:value="${sysMsgVO.sysMsgId}">
							</form>
						</td>
						<td>
							<form method="post" th:action="@{/sysMsg/delete}">
								<input type="submit" class="btn btn-danger btn-sm" onclick="return confirm('是否要刪除資料?');" value="刪除"> 
								<input type="hidden" name="sysMsgId" th:value="${sysMsgVO.sysMsgId}">
							</form>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<a th:href="@{mainPageSysMsg}"><button type="button" class="btn btn-info">回主頁</button></a>
		</section>
		<!-- 功能內容結束 -->

	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>


	</body>
</html>