<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>系統訊息管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">系統訊息管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                 <body th:insert="~{/comLogin}"></body>
                <li class="breadcrumb-item active">系統訊息管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
	<div class="container-fluid">
	<div class="row">
	<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">系統訊息查詢</h3>
		</div>	
	<div>
		<form method="post" th:action="@{listSysMsg_ByCompositeQuery}">
			<div class="card-body">
			<div class="form-group">
				<label>訊息類型:</label>
				<select name="type">
					<option value=" "></option>
					<option value="1">會員相關訊息</option>
					<option value="2">付款相關訊息</option>
					<option value="3">訂單相關訊息</option>
				</select></div>
			<div class="form-group">
				<label>訊息標題包含:</label>
				<input type="text" name="msgTitle" style="width: 80%;">
			</div>
			<div class="form-group">
				<label>訊息內容包含:</label>
				<textarea name="msgContent" style="width: 80%;"></textarea>
			</div>
			<div class="form-group">
				<label>啟用狀態:</label>
				<select name="status">
					<option value=" "></option>
					<option value="1">啟用中</option>
					<option value="0">停用</option>
				</select>
			</div>
			<div class="form-grout">
				<button type="reset" class="btn btn-secondary">清 除</button>
				<button type="submit" class="btn btn-primary">送 出</button>
				<a href='addSysMsg'><button type="button" class="btn btn-success" th:if="${session.permission != null}">新 增</button></a>
			</div></div>
		</form></div></div></div></div></div>
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>