<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>門市資訊管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<head th:insert="~{/store/included-fragment}"></head>
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">門市資訊管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <li class="breadcrumb-item" style="display: inline-block; white-space: nowrap; margin-right: 10px;">
                	<div th:if="${session.staffName == null}"><a href="staffLogin">登入</a></div>
               	 	<div th:if="${session.staffName != null}"><a href="logout" th:text="${session.staffName}"></a></div></li>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">門市資訊管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		
	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${storeVO}" enctype="multipart/form-data">
			
			<div>
			<label>門市名稱:</label>
			<input type="text" th:field="*{storeName}" onclick="hideContent('storeName.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" class="error" id="storeName.errors"></span>
			</div>
			
			<div>
			<label>縣市:</label>
			<select th:field="*{countyVO.cntCode}" id="countySelect">
				<option value="">-</option>
				<option th:each="countyVO : ${countyListData}" th:value="${countyVO.cntCode}" th:text="${countyVO.cntName}" />
			</select>
			<span th:if="${#fields.hasErrors('countyVO.cntCode')}" th:errors="*{countyVO.cntCode}" class="error" id="countyVO.cntCode.errors"></span>
			</div>
			
			<div>
			<label>鄉鎮區:</label>
			<select th:field="*{distVO.distCode}" id="distSelect">
				<option value="">-</option>
			</select>
			<span th:if="${#fields.hasErrors('distVO.distCode')}" th:errors="*{distVO.distCode}" class="error" id="distVO.distCode.errors"></span>
			</div>
			
			<div>
			<label>地址:</label>
			<input type="text" th:field="*{storeAddress}" onclick="hideContent('storeAddress.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}" class="error" id="storeAddress.errors"></span>
			</div>
			
			<div>
			<label>地址經度:</label>
			<input type="text" th:field="*{longitude}" onclick="hideContent('longitude.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="error" id="longitude.errors"></span>
			</div>
			
			<div>
			<label>地址緯度:</label>
			<input type="text" th:field="*{latitude}" onclick="hideContent('latitude.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="error" id="latitude.errors"></span>
			</div>
			
			<div>
			<label>電話:</label>
			<input type="text" th:field="*{storePhone}" onclick="hideContent('storePhone.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('storePhone')}" th:errors="*{storePhone}" class="error" id="storePhone.errors"></span>
			</div>
			
			<div>
			<label>營業時間:</label>
			<input type="text" th:field="*{openingHours}" onclick="hideContent('openingHours.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('openingHours')}" th:errors="*{openingHours}" class="error" id="openingHours.errors"></span>
			</div>
						
			<div>
			<label>電子信箱:</label>
			<input type="text" th:field="*{storeMail}" onclick="hideContent('storeMail.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('storeMail')}" th:errors="*{storeMail}" class="error" id="storeMail.errors"></span>
			</div>
			
			<div>
			<label>建檔者:</label>
			<input type="text" th:field="*{createdBy}" onclick="hideContent('createdBy.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('createdBy')}" th:errors="*{createdBy}" class="error" id="createdBy.errors"></span>
			</div>

			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>
	<input type="hidden" id="pageType" value="addPage">

	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>
	
	<script type="text/javascript">
	//清除提示信息
	function hideContent(d) {
	     document.getElementById(d).style.display = "none";
	}
	
	</script>

	</body>
</html>