<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>門市資訊管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>	
	</head>
	
	<head th:insert="~{/store/included-fragment}"></head>
	<head>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
	<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
	
	<!-- ●● jquery datatables 設定 -->
<script>
	$(document).ready(function() {
		$('#example').DataTable({
			"lengthMenu": [3 ,5, 10, 20, 50, 100],
			"searching": true,  //搜尋功能, 預設是開啟
		    "paging": true,     //分頁功能, 預設是開啟
		    "ordering": true,   //排序功能, 預設是開啟
		    "language": {
		        "processing": "處理中...",
		        "loadingRecords": "載入中...",
		        "lengthMenu": "顯示 _MENU_ 筆結果",
		        "zeroRecords": "沒有符合的結果",
		        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		        "infoPostFix": "",
		        "search": "搜尋:",
		        "paginate": {
		            "first": "第一頁",
		            "previous": "上一頁",
		            "next": "下一頁",
		            "last": "最後一頁"
		        },
		        "aria": {
		            "sortAscending":  ": 升冪排列",
		            "sortDescending": ": 降冪排列"
		        }
		    }
		});
	});
</script>
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">門市資訊管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <li class="breadcrumb-item" style="display: inline-block; white-space: nowrap; margin-right: 10px;">
                	<div th:if="${session.staffName == null}"><a href="staffLogin">登入</a></div>
               	 	<div th:if="${session.staffName != null}"><a href="logout" th:text="${session.staffName}"></a></div></li>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">門市資訊管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		
	<table id="example" class="display" style="width: 100%">
	  <thead >
		<tr style="background-color:#CCCCFF">
			<th>項次</th>
			<th>門市編號</th>
			<th>門市名稱</th>
			<th>縣市</th>
			<th>鄉鎮區</th>
			<th>地址</th>
			<th>地址經度</th>
			<th>地址緯度</th>
			<th>電話</th>
			<th>營業時間</th>
			<th>電子信箱</th>
			<th>修改</th>
			<th>刪除</th>
		</tr>
	  </thead>
		
	  <tbody>
			<th:block th:each="storeVO : ${storeListData}">
				<tr>
					<td th:text="${storeVOStat.count}"></td>
					<td th:text="${storeVO.storeId}"></td>
					<td th:text="${storeVO.storeName}"></td>
					<td th:text="${storeVO.countyVO.cntCode} + '-[' + ${storeVO.countyVO.cntName} + ']'"></td>
					<td th:text="${storeVO.distVO.distCode} + '-[' + ${storeVO.distVO.distName} + ']'"></td>				
					<td th:text="${storeVO.storeAddress}"></td>
					<td th:text="${storeVO.longitude}"></td>
					<td th:text="${storeVO.latitude}"></td>
					<td th:text="${storeVO.storePhone}"></td>
					<td th:text="${storeVO.openingHours}"></td>
					<td th:text="${storeVO.storeMail}"></td>
					
				<td>
				  <form method="post" th:action="@{/store/getOne_For_Update}" style="margin-bottom: 0px;">
				     <input type="submit" value="修改">
				     <input type="hidden" name="storeId" th:value="${storeVO.storeId}"></form>
				</td>
				
				<td>
				  <form method="post" th:action="@{/store/delete}" style="margin-bottom: 0px;">
				     <input type="submit" value="刪除">
				     <input type="hidden" name="storeId" th:value="${storeVO.storeId}"></form>
				</td>
				</tr>
			</th:block>
	  </tbody>
	</table>
	
	
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>