<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>門市資訊管理</title>

		<!-- header-css etc. -->
		<head th:insert="~{/comPage1}"></head>
		<head th:insert="~{/store/included-fragment}"></head>
	</head>
	
	<body class="hold-transition sidebar-mini layout-fixed">

	<!-- side bar -->
	<body th:insert="~{/comPage2}"></body>
	
	<!-- Content Wrapper. Contains page content -->
    <!-- 儀錶板上面那排 -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">門市資訊管理</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
			<!-- ===================================後台人員登入登出用 =================================================================-->
                 <li class="breadcrumb-item" style="display: inline-block; white-space: nowrap; margin-right: 10px;">
                	<div th:if="${session.staffName == null}"><a href="staffLogin">登入</a></div>
               	 	<div th:if="${session.staffName != null}"><a href="logout" th:text="${session.staffName}"></a></div></li>
            <!-- ===================================後台人員登入登出用 =================================================================-->
                <li class="breadcrumb-item active">門市資訊管理</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

	<!-- 功能內容開始 -->
	<section class="content">
		
	<h4><span>資料查詢:</span></h4>
	<!-- 錯誤表列 -->
	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
	<div class="a">
	  <ul>
		<li><h5><a href='listAllStore'>List</a> all Stores. <br><br></h5></li>

		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				輸入門市編號:
				<input type="text" name="storeId" th:value="${param.storeId}" > 
				<input type="submit" value="送出"> (輸入如7001)
			</form><br>
		</li>

		
		
		
		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				選擇門市編號:
				<select name="storeId">
				     <option th:each="storeVO : ${storeListData}" th:value="${storeVO.storeId}" th:text="${storeVO.storeId}" />
			    </select>
				<input type="submit" value="送出">
			</form><br>
		</li>

		
		
		
		<li>
			<form method="post" th:action="@{getOne_For_Display}">
				選擇門市名稱:
				<select name="storeId">
				     <option th:each="storeVO : ${storeListData}" th:value="${storeVO.storeId}" th:text="${storeVO.storeName}" />
			    </select>
				<input type="submit" value="送出">
			</form><br>
		</li>
		
		
		
		
<!--  萬用複合查詢-以下欄位-可隨意增減 -->
  
	  <li>   
	    <form method="post" th:action="@{listStores_ByCompositeQuery}">
	        <font color=blue>萬用複合查詢:</font><br>
	        輸入門市編號: 
	        <input type="text" name="storeId" value="" placeholder="1"><br>
	           
	        輸入門市名稱: 
	        <input type="text" name="storeName" value="" placeholder="中山店"><br>
			
			選擇縣市: 
	  		<select th:field="*{countyVO.cntCode}" id="countySelect">
				<option value="">-</option>
				<option th:each="countyVO : ${countyListData}" th:value="${countyVO.cntCode}" th:text="${countyVO.cntName}" />
			</select><br>
			
			選擇鄉鎮區: 
	  		<select th:field="*{distVO.distCode}" id="distSelect">
				<option value="">-</option>
			</select><br>
	
	        <input type="submit" value="送出">
	     
	     </form>
	  </li>
	</ul>	
	
      <h4><span>門市管理</span></h4>
	  <ul>
		  <li><h5><a href='addStore'>Add</a> a new Store.</h5></li>
	  </ul>
	</div>
    
    <!-- 旗標getOne_For_Display見StorenoController.java的第74行 -->
    <div class="b" th:if="${getOne_For_Display}">
        <!--使用listOneStore.html網頁的listOneStore-div片段--> <!-- 見listOneStore.html的第35行的th:fragment="listOneStore-div" --> <!-- 使用th:replace也可 -->
        <div th:insert="~{/store/listOneStore :: listOneStore-div}"></div>
    </div>
    <input type="hidden" id="pageType" value="mainPage">
	
	
	</section>
	<!-- 功能內容結束 -->
	
	<!-- footer and script link -->
	<body th:insert="~{/comPage3}"></body>

	</body>
</html>