<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品種類新增</title>
</head>
<body>
	<div align="center"><h2>商品種類新增</h2>
	<h3><a th:href="@{/productType/select_page}">回商品種類頁面</a></h3>
	
	<form th:action="@{insert}" method="post" th:object="${productTypeVO}">
		<div>
		<label>商品種類:</label>
		<input type="text" th:field="*{typeName}" onclick="hideContent('typeName.errors');"/><br>
		<span  th:if="${#fields.hasErrors('typeName')}" th:errors="*{typeName}" class="error" id="typeName.errors"></span>
		</div>
		
		<div>
		<label>建檔者:</label>
		<input type="text" th:field="*{createdBy}" onclick="hideContent('createdBy.errors');"/><br/>
		<span th:if="${#fields.hasErrors('createdBy')}" th:errors="*{createdBy}" class="error" id="createdBy.errors"></span>
		</div>
	
		<div>
			<button type="submit" id="submit">送出新增</button>
		</div>
	
	</form>
	
	</div>
<script>
	function hideContent(d){
		document.getElementById(d).style.display="none";
	}
</script>
</body>
</html>