<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品種類</title>
</head>
<body>
<div align="center" th:fragment="listOneType-div">
	<h2>商品種類</h2>
	<h3><a th:href="@{/productType/select_page}">回商品種類頁面</a></h3>
	<span>商品類型編號:</span><span th:text="${productTypeVO.productTypeId}"></span><br>
	<span>商品類型名稱:</span><span th:text="${productTypeVO.typeName}"></span><br>
	<span>建檔者:</span><span th:text="${productTypeVO.createdBy}"></span><br>
	<span>建檔時間:</span><span th:text="${#dates.format(productTypeVO.dateCreated, 'yyyy-MM-dd HH:mm:ss')}"></span><br>				
	<span>最後更新者:</span><span th:text="${productTypeVO.lastUpdatedBy}"></span><br>
	<span>最後更新時間:</span><span th:text="${#dates.format(productTypeVO.lastUpdated, 'yyyy-MM-dd HH:mm:ss')}"></span><br>
</div>


</body>
</html>