<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add_ProductInfo</title>

<style>
table#table-1 {
	width: 450px;
	background-color: #CCCCFF;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 3px ridge Gray;
	height: 80px;
	text-align: center;
}

table#table-1 h4 {
	color: red;
	display: block;
	margin-bottom: 1px;
}

h4 {
	color: blue;
	display: inline;
}

.wrapper {
	min-height: 0 !important;
}

a:hover, a:active {
	color: red;
	font-weight: bold;
}

.error {
	color: #ff0000;
	font-style: italic;
	font-weight: lighter;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 5px;
	margin: 5px;
	width: 100%;
	font-weight: normal;
}

</style>


</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<!-- header-css etc. -->
	<div th:insert="~{/comPage1}"></div>

	<!-- side bar -->
	<div th:insert="~{/comPage2}"></div>

	<!-- Content Wrapper. Contains page content -->
	<!-- 儀錶板上面那排 -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">新增商品</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
							<!-- ==============後台人員登入登出用 =============-->
							<div class="breadcrumb-item"><a th:insert="~{/comLogin}"></div>
							<li class="breadcrumb-item"><a
								th:href="@{mainPageProductInfo}">商品總覽</a></li>
							<li class="breadcrumb-item active">新增商品</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- 功能內容開始 -->
		<br>
		<section class="content">

			<form th:action="@{insert}" method="post" th:object="${productInfo}"
				enctype="multipart/form-data">
				<div class="card-body">
					<div class="form-group">
						<label>商品名稱</label> <input type="text" class="form-control"
							name="proName" placeholder="請輸入商品名稱" th:field="*{proName}"
							onclick="hideContent('proName.errors');"> <span
							th:if="${#fields.hasErrors('proName')}" th:errors="*{proName}"
							class="error" id="proName.errors"></span>
					</div>

					<div class="form-group">
						<label>商品類別</label> <select class="form-control"
							name="productTypeId" th:field="*{productTypeVO.productTypeId}"> 
							<option value="" disabled selected>請選擇商品類別</option>
							<option th:each="productTypeVO : ${typeListData}"
								th:value="${productTypeVO.productTypeId}"
								th:text="${productTypeVO.typeName}"></option>
						</select>
					</div>

					<div class="form-group">
						<label>商品單價</label> <input type="number" class="form-control"
							name="proPrice" placeholder="請輸入商品單價" th:field="*{proPrice}"
							onclick="hideContent('proPrice.errors');"> <span
							th:if="${#fields.hasErrors('proPrice')}" th:errors="*{proPrice}"
							class="error" id="proPrice.errors"></span>

					</div>
					<div class="form-group">
						<label>商品庫存量</label> <input type="number" class="form-control"
							name="totalCount" placeholder="請輸入商品庫存量" th:field="*{totalCount}"
							onclick="hideContent('totalCount.errors');"> <span
							th:if="${#fields.hasErrors('totalCount')}"
							th:errors="*{totalCount}" class="error" id="totalCount.errors"></span>

					</div>
					<div class="form-group">
						<label>商品安全存量</label> <input type="number" class="form-control"
							name="proSafetyStock" placeholder="當商品低於此數量時系統會發出警告"
							th:field="*{proSafetyStock}"
							onclick="hideContent('proSafetyStock.errors');"> <span
							th:if="${#fields.hasErrors('proSafetyStock')}"
							th:errors="*{proSafetyStock}" class="error"
							id="proSafetyStock.errors"></span>
					</div>

					<div class="form-group">
						<label for="exampleInputFile">商品圖片</label>
						<div class="input-group">
							<input type="file" th:field="*{proPic}" onclick="previewImage()"
								multiple="multiple" onchange="hideContent('proPic.errors');" />
							<!-- 			<span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
							<span class="error" th:utext="${errorMessage}" id="proPic.errors">${errorMessage}</span>
							<!-- 			<h2 id="errorMessage">${errorMessage}</h2>  -->
							<div id="blob_holder"></div>

						</div>
					</div>
					<div class="form-group">
						<label>商品介紹</label> <input type="text" class="form-control"
							name="proDesc" placeholder="請輸入商品介紹" th:field="*{proDesc}"
							onclick="hideContent('proDesc.errors');"> <span
							th:if="${#fields.hasErrors('proDesc')}" th:errors="*{proDesc}"
							class="error" id="proDesc.errors"></span>
					</div>
					<div class="select one">
						<a><label> 勾選產品狀態</label></a><br> <input type="radio"
							th:field="*{proStatus}" value="0"> <a>未上架</a> <input
							type="radio" th:field="*{proStatus}" value="1"> <a>上架中</a>
					</div>

					<!-- 					<div class="form-group"> -->
					<!-- 						<label>選擇建檔者</label><br> <select id="roll" name="createdBy"> -->
					<!-- 									<option  th:each="staff:${staffListData}" -->
					<!-- 										th:value="${staff.staffId}" -->
					<!-- 										th:text="${staff.name}"></option> -->
					<!-- 								</select> -->
					<!-- 					</div> -->
					<div class="form-group">
						<label>選擇建檔者</label> <input type="text" class="form-control"
							name="createdBy" placeholder="輸入建檔者" th:field="*{createdBy}"
							onclick="hideContent('createdBy.errors');"> <span
							th:if="${#fields.hasErrors('createdBy')}"
							th:errors="*{createdBy}" class="error" id="createdBy.errors"></span>
					</div>

				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>

			<!-- 把你的內容貼在這裡 -->
			<!-- 把你的內容貼在這裡 -->
			<!-- 把你的內容貼在這裡 -->


		</section>
		<!-- 功能內容結束 -->

		<!-- footer and script link -->
		<div th:insert="~{/comPage3}"></div>

		<script type="text/javascript">
			//清除提示信息
			function hideContent(d) {
				document.getElementById(d).style.display = "none";
			}

			//照片上傳-預覽用
			var filereader_support = typeof FileReader != 'undefined';
			if (!filereader_support) {
				alert("No FileReader support");
			}
			acceptedTypes = {
				'image/png' : true,
				'image/jpeg' : true,
				'image/gif' : true
			};
			function previewImage() {
				var upfile1 = document.getElementById("upFiles");
				upfile1.addEventListener("change", function(event) {
					var files = event.target.files || event.dataTransfer.files;
					for (var i = 0; i < files.length; i++) {
						previewfile(files[i])
					}
				}, false);
			}
			function previewfile(file) {
				if (filereader_support === true
						&& acceptedTypes[file.type] === true) {
					var reader = new FileReader();
					reader.onload = function(event) {
						var image = new Image();
						image.src = event.target.result;
						image.width = 100;
						image.height = 75;
						image.border = 2;
						if (blob_holder.hasChildNodes()) {
							blob_holder.removeChild(blob_holder.childNodes[0]);
						}
						blob_holder.appendChild(image);
					};
					reader.readAsDataURL(file);
					document.getElementById('submit').disabled = false;
				} else {
					blob_holder.innerHTML = "<div  style='text-align: left;'>"
							+ "● filename: "
							+ file.name
							+ "<br>"
							+ "● ContentTyp: "
							+ file.type
							+ "<br>"
							+ "● size: "
							+ file.size
							+ "bytes"
							+ "<br>"
							+ "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
					document.getElementById('submit').disabled = true;
				}
			}
		</script>
</body>
</html>